[submodule "knowledge_base/samples/content/wiki"]
	path = knowledge_base/samples/content/wiki
	url = https://github.com/chatchat-space/Langchain-Chatchat.wiki.git

[submodule "FastChat-TPU"]
	path = FastChat-TPU
	url = https://github.com/wangyifan2018/FastChat-TPU.git
	branch = master
